# Dependencies
node_modules/
.pnpm-store/

# Production & Build Outputs
dist/
dist-ssr/
*.local

# Environment Variables
.env
.env.*
!.env.example

# Frontend Caches & Tooling
.vite/
.eslintcache
*.tsbuildinfo
coverage/

# Package Manager Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*